--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.1.2+cpu
fastapi
uvicorn[standard]
groq
python-dotenv
pydantic
pydantic[email]
python-multipart
sqlalchemy
aiosqlite
httpx
aiohttp
tenacity
langchain
faiss-cpu
pypdf
sentence-transformers
openai
zhipuai
